
<div class="container vh-100 bg-no-overlay-index" data-aos="fade-up">
    <div class="row h-100">
      <div class="text-center my-auto col-sm-12" >
		  <h1 class="text-light text-secondary" style="font-size: 8vw;">Bienvenidos a LYB-SYS</h1>
        <button type="button" class="btn btn-danger btn-lg p-4">Empezar</button>
	</div>
    </div>
</div>