<div class="bg-overlay-buscar vh-100">
<div class="container" data-aos="fade-up">
    <div class="row h-100">
        <div class="mx-auto " style="padding-top: 30vh;">
            <div class=" text-center">
                <h1 class="display-4 text-light">Busca Tu libro Favorito</h1>
                <div class="input-group rounded">
                    <input type="search" class="form-control rounded" placeholder="Buscar" aria-label="Search"
                        aria-describedby="search-addon" />
                    <span class="input-group-text border-0 ml-3" id="search-addon">
                        <i class="fas fa-search"></i>
                    </span>
                </div>
            </div>
        </div>

    </div>
</div>
</div>
