


  <div class="container my-4 p-4 bg-light mx-auto">
            <form>
  <div class="form-group">
    <label for="usuario">Nombre de Usuario</label>
    <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
  </div>
  <div class="form-group">
    <label for="room">Room</label>
						<select name="room" id="room">
							<option value="drama">Drama</option>
							<option value="suspenso">Suspenso</option>
							<option value="clasicos">Clasicos</option>
						</select>
  </div>
  <button type="submit" class="btn btn-primary">Ingresar a la sala</button>
</form>
  </div>