
<img src="/wave.svg" alt="">

<div class="container my-4">
    <div class="row">
        <div class="col-md-6 mx-auto">
            <div class="card mt-4">
    <div class="card-body text-center">
        <h1>Ver Recibo</h1>
        <a href="/recibo.txt" download="" class="btn btn-dark" id="descarga">Descargar</a>
        <h1>Ver Libro</h1>
        <a href="/Proyecto_Lab_Soft_2021.pdf" download="" class="btn btn-dark" id="descarga">Descargar</a>
    </div>
    <img src="/img/pose_1.png" class="w-50 mx-auto"  alt="">
</div>
        </div>
    </div>
</div>

<script src="https://smtpjs.com/v3/smtp.js"></script>

<script>
    Email.send({
    Host : "smtp.gmail.com",
    Username : "julianalfonso082@gmail.com",
    Password : "opqznywtxovwnbpz",
    To : 'emasrylordl@gmailup.com',
    From : "julianalfonso082@gmail.com",
    Subject : "Compra Realizada",
    Body : "La compra del correo julian@gmail.com ha sido realizada exitosamente"
}).then(
  message => alert(message)
);
//https://generator.email/emasrylordl@gmailup.com

const botonDescarga = document.getElementById('descarga');

botonDescarga.addEventListener('click',loadTxt);

function loadTxt()
{
  fetch('recibo.txt')
  .then(function(response)
  {
    return response.text();
  })
  .then(function(data)
  {
    console.log(data);
  })
}


</script>