<h1 class="display-3 text-center text-light">INICIAR SESION COMO ROOT</h1>
<div class="container">
    <div class="row">
        <div class="col-md-6 offset-2">
            
<form action="" method="POST">
    <div class="form-group">
        <input type="email" placeholder="admin email" name="rootemail" id="rootemail" class="form-control">
    </div>
    <div class="form-group">
        <input type="password" placeholder="password" name="password" id="rootpassword" class="form-control">
    </div>
    <button class="btn btn-primary btn-block" type="submit">Iniciar sesión</button>
</form>
        </div>
    </div>
</div>

