<div class="vh-100 bg-overlay-mensajes" data-aos="fade-up">
    <div class="row h-100">
      <div class="text-center my-auto col-sm-12" >
		  <h1 class="text-light text-secondary">Entra a una sala y chatea con amigos</h1>
        <button type="button" class="btn btn-danger btn-lg p-4">Ir al chat</button>
	</div>
    </div>
</div>
<div class="vh-100 bg-overlay-noticias" data-aos="fade-up">
    <div class="row h-100">
      <div class="text-center my-auto col-sm-12" >
		  <h1 class="text-light text-secondary" style="font-size: 8vw;">Descubre cuales son los últimos libros</h1>
        <button type="button" class="btn btn-danger btn-lg p-4">Ultimos libtos</button>
	</div>
    </div>
</div>