<div class="row">
    <div class="col-md-6">
        
<div class="container vh-100 bg-overlay-mensajes" data-aos="fade-right">
    <div class="row h-100">
      <div class="text-center my-auto col-sm-12" >
		  <h1 class="text-light text-secondary"> Entra a una sala y chatea con amigos</h1>
        <button type="button" class="btn btn-success btn-lg ">ir a sala de chat</button>
	</div>
    </div>
</div>
    </div>
    <div class="col-md-6">
        
<div class="container vh-100 bg-overlay-noticias" data-aos="fade-left">
    <div class="row h-100">
      <div class="text-center my-auto col-sm-12" >
		  <h1 class="text-light text-secondary">Revisa los últimos libros pubicados</h1>
        <button type="button" class="btn btn-success btn-lg ">ver ultimos libros</button>
	</div>
    </div>
</div>
    </div>
</div>

