<div class="container-fluid">
    <div class="row">
        <div class="col-md-6">
            <div class="vh-100 bg-overlay-mensajes">
                <div class="row h-100">
                    <div class="container-fluid my-auto text-center">
                        <h1 class="text-light text-secondary">Entra a una sala de chat y chatea con amigos</h1>
                        <a type="button" class="btn btn-danger btn-lg p-4" href="/chat">Ir al chat</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="vh-100 bg-overlay-noticias">
                <div class="row h-100">
                    <div class="container-fluid text-center my-auto">
                        <h1 class="text-light text-secondary">Descubre cuales son los últimos libros que subimos</h1>
                        <a type="button" class="btn btn-danger btn-lg p-4">Ultimos libros</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>